h2{
    text-align: center;
}
.container-row{
    display: flex ;
    flex-direction: row;
background-color: #f9eac3;
padding: 16px;
height: 500px;
}
.container-column{
    display: flex;
    flex-direction: column;
background-color: #f9eac3;
padding: 16px;
height: 500px;

}
.container-rowreverse{
    display: flex;
    flex-direction: row-reverse;
background-color: #f9eac3;
padding: 16px;
height: 500px;
}
.container-columnreverse{
    display: flex;
    flex-direction: column-reverse;
background-color: #f9eac3;
padding: 16px;
height: 500px;
}


.bloco-1{
    background-color: rgb(240, 12, 12);
    height: 150px;
    width: 150px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier new', Courier, monospace;
    border-radius: 16px ;

}
.bloco-2{
    background-color: rgb(217, 255, 0);
    height: 150px;
    width: 150px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier new', 'Courier New', Courier, monospace;
    border-radius: 16px ;


}
.bloco-3{
    background-color: rgb(255, 166, 0);
    height: 150px;
    width: 150px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier new', 'Courier New', Courier, monospace;
    border-radius: 16px ;


}    